*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --on: #f0f0f0;
    --off: var(--second-bg-color);
    --transDur: 0.6s;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100hv;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbarAndSwitch {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

.switch input {
    position: fixed;
    transform: translateX(-100%);
}

.switch .toy-toggle {
    background: radial-gradient(at top left, #fff 10%, #fff0 20%),
    radial-gradient(at top right, #fff 20%, #e4e4e4 35%);
    border-radius: 6em;
    box-shadow: 0 0 0.25em #0002, 0 3em 1.5em 0.5em #0002;
    cursor: pointer;
    display: block;
    font-size: 3px;
    position: relative;
    margin: auto;
    width: 20px;
    height: 12px;
    -webkit-tap-highlight-color: transparent;
}

.switch .toy-toggle span {
    display: block;
    position: absolute;
}

.switch .toy-toggle> span {
    top: 50%;
    left: 50%;
}

.switch .toy-toggle> span:not(.switch .handle) {
    transform: translate(-50%,-50%);
}

.switch .border1 {
    background: #f0f0f0;
    border-radius: 5.5em;
    box-shadow: 0 0 .2em .1em #f0f0f0;
    width: 19em;
    height: 11em;
}

.switch .border2 {
    background: linear-gradient(0deg,#fff 33%,#ccc 45%);
    border-radius: 4.75em;
    box-shadow: 0 0 .2em .3em #f0f0f0 inset;
    width: 16.5em;
    height: 9.5em;
}

.switch .border3,
.switch .handle {
  background: linear-gradient(90deg, var(--on) 50%, var(--off) 0);
}

.switch .border3 {
    background-position: 75% 0;
    background-size: 200% 100%;
    border-radius: 4.25em;
    box-shadow: 0 0 0.1em 0.1em #ddd inset, 0 1.5em 1.5em 1em #0004 inset,
      0 0 0 4.25em #0002 inset;
    width: 15.5em;
    height: 8.5em;
    transition: background-position var(--transDur) ease-in-out;
}

.switch .handle {
    border-radius: 50%;
    box-shadow: 0 0 0.5em 0 #f0f0f0;
    width: 8.5em;
    height: 8.5em;
    transform: translate(-90%, -50%);
    transition: transform var(--transDur) ease-in-out;
    z-index: 0;
}

.switch .handle:before {
    background: radial-gradient(2em 1.5em at 50% 35%, #fff6 15%, #fff0),
      radial-gradient(1.5em 2.5em at 75% 40%, #fff6 15%, #fff0),
      radial-gradient(100% 100% at 50% 33%, #0000 25%, #0003 50%);
    border-radius: 50%;
    box-shadow: 0 0 0.3em 0.1em #0003 inset;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.switch .handle-off,
.switch .handle-on {
  width: 50%;
  height: 100%;
  transition: transform calc(var(--transDur) / 2);
  z-index: 2;
}

.switch .handle-off {
    background: var(--off);
    border-radius: 100% 0 0 100% / 50% 50% 50% 50%;
    right: 50%;
    transform-origin: 100% 50%;
    transition-delay: calc(var(--transDur) / 2);
    transition-timing-function: ease-out;
}

.switch .handle-on {
    background: var(--on);
    border-radius: 0 100% 100% 0 / 50% 50% 50% 50%;
    left: 50%;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-timing-function: ease-in;
}

.switch input:checked+.toy-toggle .border3 {
    background-position: 25% 0;
}

.switch input:checked+.toy-toggle .handle {
    transform: translate(-10%, -50%);
    background: var(--off);
  }
  
.switch input:checked+.toy-toggle .handle-off {
    transform: scaleX(0);
    transition-delay: 0s;
    transition-timing-function: ease-in;
}
  
.switch input:checked+.toy-toggle .handle-on {
    transform: scaleX(1);
    transition-delay: calc(var(--transDur) / 2);
    transition-timing-function: ease-out;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 35vw;
    margin: 0 0 250px 0;
    animation: floatImage 4s ease-in-out infinite;

}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-img img, .about-img img {
    border-radius: 27%;
}

.home-content {
    width: 50%;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content p {
    font-size: 1.6rem;
    font-weight: 600;
}
span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;

}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 352px;
    height: 132px;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.profolio-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

.profolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem white;
    overflow: hidden;
    display: flex;
}
.portfolio-box {
    width: 612px;
}

.portfolio-box img {
    width: 612px; 
    height: 323px;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0%);

}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

form label.error{
    display: none!important;
}
.contact {
    background: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .input-box input,
.contact form textarea{
    color: white;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
}

@media (max-width: 1300px) {
    .navbarAndSwitch {
        width: 70%;
        justify-content: right;
    }
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 980px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }
    
    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {

    .home-content {
        width: 100%;
    }

    #menu-icon{
        display: block;
    }

    .navbarAndSwitch .switch {
        margin-right: 5%;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }
    .about img {
        display: none;
        /* width: 70vw;
        margin-top: 4rem; */
    }
    .portfolio h2 {
        margin-bottom: 3rem;
    }
        .profolio-container {
            grid-template-columns: 1fr;
        }
}

@media (max-width: 617px) {
    .portfolio-box {
        width: 100%;
    }
    .portfolio-box img{
        width: 100%;
    }
}


@media (max-width: 480px) {
    html {
        font-size: 50%;
    }

    .navbarAndSwitch .switch .toy-toggle {
        font-size: 2px;
        right: 15px;
    }
    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}